.menu-header {
    height: 34vw;
    margin: 30px auto;
    background: url('/menu_header.png') no-repeat;
    background-size: 100% 160%; /* Width: 200%, Height: 100% */
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(237, 202, 202, 0.3);
}
.main-header_content {
    padding: 20px 50px;
    margin-top: 10%;
    animation: fadeIn 3s;
}
.main-header_content h3 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;
}   

.main-header_content p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 40%;
    margin-top: 20px;
}

.main-header_content button {
    padding: 20px 50px;
    border: none;
    color: blue;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}   

.main-header_content button:hover {
    color: #fff;
    background: blue;
}