.menu-open {
    display: block;
    animation: slideIn 0.3s forwards;
  }
  
  .menu-closed {
    display: none;
    animation: slideOut 0.3s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }